<!DOCTYPE html>
<html>
</head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
 <title>小董快餐</title>
 <link href="__PUBLIC__/css/reset.css" rel="stylesheet" type="text/css" />
 <link href="__PUBLIC__/css/idangerous.swiper.css" rel="stylesheet" type="text/css" />
 <link href="__PUBLIC__/css/page.css" rel="stylesheet" type="text/css" />
 <body class="community_body">
	<div class="community">
		<div class="header">
			<img src="__PUBLIC__/images/jry1.jpg">
			<div class="tit">
				<p>&nbsp;小董社区</p>
				<p class="topic">&nbsp;&nbsp;话题<b>680</b></p>
			</div>
		</div>
			<volist name = "data" id = "vo">
				<volist name="vo['voo']" id='user'>
				<div class='post'>	
					<div class='post_people'>
						<img src='__PUBLIC__/<{$user.user_icon}>' class='head'>
						<div class='post_name'>
							<p class='name'><{$user.user_nickname}></p>
							<p class='time'><{$vo.post_time}></p>
						</div>
          			</div>
					<div class='post_content'><{$vo.post_con}>
					</div>
					<div class='interact'>
						<span><a href='javascript:void(0)' class='praise <{$vo.post_id}>'>赞</a></span>
						<span class="favour"><{$vo.post_favour}></span>
						<span class='post_id'><{$vo.post_id}></span>
						<span><a href='javascript:void(0)' class='reply reply_id'>回复</a></span>
					</div>
					<div class='reply'>
						 
							<volist name = "data1" id = "vo1">								<eq name="vo.post_id" value="$vo1.post_id">
									<p>
										<{$vo1['voo'][0]['user_nickname']}>：<{$vo1.reply_con}>
									</p>
								</eq>
							</volist>
				 	</div>
				</div>
				</volist>
			</volist>
	</div>
			
	<div class="deliver"><a href="__ROOT__/index.php/Home/Post/post_deliver">发话题</a></div>

	<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/touch.min.js"></script>
	<script type="text/javascript">
		$(".praise").click(function(){
			$this=$(this);
			var post_id = $(this).attr("class").substr(6);
			$.ajax({
				type: "GET",
             	url: "__ROOT__/index.php/Home/Post/post",
             	data:{id:post_id},
            	success:function(data){$this.parents(".interact").find(".favour").text(data);}
			})
		})

		$(".reply_id").click(function(){
			$("body").css({"height":"100%","overflow":"hidden"});
		    var post_id=$(this).parent().siblings(".post_id").text();
			var reply_div=document.createElement("div");
			document.body.appendChild(reply_div);
			reply_div.id="reply_div";
			$("#reply_div").css({"position":"absolute","left":0,"top":$(window).scrollTop()});
			// alert($(window).scrollTop());
			reply_div.innerHTML="<form action='__ROOT__/index.php/Home/Post/reply/post_id/"+post_id+"' method='post'><textarea name='reply_con'>回两句吧</textarea><p><input type='button' value='取消' class='aa' id='cancel'><input type='submit' value='发送'></p></form>";
			$(".community").css({"position":"absolute","width":"100%","opacity":"0.3"});
			$("#cancel").click(function(){
			$("body").css({"height":"auto","overflow":"visible"});
		    reply_div.remove();         //注意这个地方
		    $(".community").css({"opacity":"1"});
		    })



		    $("#reply_div textarea").focus(function(){
		    	$(this).text("");
		    })
		})
	</script>
</body>
</html>