<!-- <!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <style>
    table{margin: 0 auto;text-align: center;}
        td{width:180px;}
        td.first{width: 10px;}
    </style>
	</head>
	<body>
    <p>所属类：<{$category_name}></p>
    <table>
    <volist name = "data" id = "vo">
        <tr>
            <td class="first"><{$vo.goods_id}></td>
            <td><{$vo.goods_name}></td>
            <td><{$vo.goods_price}></td>
            <td><a href="__ROOT__/admin.php/Home/Goods/edit_view/goods_id/<{$vo.goods_id}>">编辑</a></td>
            <td><a href="__ROOT__/admin.php/Home/Goods/delete/goods_id/<{$vo.goods_id}>">删除</a></td>
        <tr>
    </volist>
    </table>
</body>
</html> -->